@font-face {
  font-family: 'Inter Tight';
  src: url('InterTight-SemiBold.eot');
  src: local('Inter Tight SemiBold'), local('InterTight-SemiBold'),
    url('InterTight-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('InterTight-SemiBold.woff2') format('woff2'),
    url('InterTight-SemiBold.woff') format('woff'),
    url('InterTight-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Tight';
  src: url('InterTight-Medium.eot');
  src: local('Inter Tight Medium'), local('InterTight-Medium'),
    url('InterTight-Medium.eot?#iefix') format('embedded-opentype'),
    url('InterTight-Medium.woff2') format('woff2'),
    url('InterTight-Medium.woff') format('woff'),
    url('InterTight-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
