<section id="about-me">
  <div class="container">
    <h2 class="visually-hidden">About Jefferson</h2>

    <div class="about-wrapper">
      <div class="about-desc">
        <div class="about-sloganbox">
          <p class="about-slogan">
            I work with people all over the world to create impressive and
            <span class="text-red">functional</span>
            <span class="text-gray">websites</span> that reflect each client's
            unique personality.
          </p>
        </div>
        <picture>
          <source
            srcset="
              /img/about-me/about-me-mob.webp    1x,
              /img/about-me/about-me-mob@2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              /img/about-me/about-me-tab.webp    1x,
              /img/about-me/about-me-tab@2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/about-me/about-me-desc.webp    1x,
              /img/about-me/about-me-desc@2x.webp 2x
            "
            media="(min-width: 1440px)"
          />
          <img
            src="/img/about-me/about-me-desc.webp"
            alt="A young man with a beard and turtleneck is sitting at a desk, using a mouse with a laptop."
            width="704"
            class="about-me-image"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
    <div class="about-skills">
      <div class="swiper swiperr">
        <ul class="swiper-wrapper skills-list">
          <li class="swiper-slide skills-item skills-item-active">
            <p class="skills-text">HTML/CSS</p>
          </li>
          <li class="swiper-slide skills-item">
            <p class="skills-text">JavaScript</p>
          </li>
          <li class="swiper-slide skills-item">
            <p class="skills-text">React</p>
          </li>
          <li class="swiper-slide skills-item">
            <p class="skills-text">Node.js</p>
          </li>
          <li class="swiper-slide skills-item">
            <p class="skills-text">React Native</p>
          </li>
          <li class="swiper-slide skills-item">
            <p class="skills-text">Soft skills</p>
          </li>
          <li class="swiper-slide skills-item skills-item-active">
            <p class="skills-text">HTML/CSS</p>
          </li>
          <li class="swiper-slide skills-item">
            <p class="skills-text">JavaScript</p>
          </li>
          <li class="swiper-slide skills-item">
            <p class="skills-text">React</p>
          </li>
          <li class="swiper-slide skills-item">
            <p class="skills-text">Node.js</p>
          </li>
          <li class="swiper-slide skills-item">
            <p class="skills-text">React Native</p>
          </li>
          <li class="swiper-slide skills-item">
            <p class="skills-text">Soft skills</p>
          </li>
        </ul>
      </div>
      <div class="skills-arrow-next">
        <svg class="skills-arrow-icon">
          <use href="/img/sprite.svg#icon-arrow-right"></use>
        </svg>
      </div>
    </div>
</section>