<section class="about-me" id="about-me">
  <div class="container">
    <h2 class="visually-hidden">About Jefferson</h2>
    <div class="about-wrapper">
      <div class="about-desc">
        <div class="about-sloganbox">
          <p class="about-slogan">
            I work with people all over the world to create impressive and
            <span class="text-red">functional</span>
            <span class="text-gray">websites</span> that reflect each client's
            unique personality.
          </p>
        </div>
        <picture>
          <source
            srcset="
              /img/about-me/about-me-mob.webp    1x,
              /img/about-me/about-me-mob@2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              /img/about-me/about-me-tab.webp    1x,
              /img/about-me/about-me-tab@2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/about-me/about-me-desc.webp    1x,
              /img/about-me/about-me-desc@2x.webp 2x
            "
            media="(min-width: 1440px)"
          />
          <img
            src="/img/about-me/about-me-desc.webp"
            alt="A young man with a beard and turtleneck is sitting at a desk, using a mouse with a laptop."
            width="704"
            class="about-me-image"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
    <div class="about-content">
      <ul class="content-container">
        <li class="ac about-me-item about-item">
          <div class="ac-trigger about-btn about-btn-wrapper">
            <h2 class="ac-header about-header">About me</h2>
            <button type="button" class="about-btn-open">
              <svg class="content-arrow-icon">
                <use href="/img/sprite.svg#icon-arrow-bottom"></use>
              </svg>
            </button>
          </div>
          <div class="ac-panel about-panel">
            <div class="content-item-copy">
              <p class="content-item-desc">
                I am Lloyd Jefferson, a talented programmer with extensive
                expertise in software development. I have an understanding of
                different programming languages and technologies, always ready
                to improve my skills. I always follow the latest trends and look
                for unconventional, creative solutions to problems. I have a
                high level of analytical skills and am able to effectively solve
                even the most difficult tasks encountered on the way.
              </p>
              <p class="content-item-desc">
                Able to work both independently and in a team. I can effectively
                cooperate with colleagues, exchanging ideas and finding optimal
                solutions. Professional maturity allows me to calmly cope with
                challenges and stressful situations while maintaining a high
                quality of work. I am always looking for opportunities for
                self-improvement. I actively study new technologies and
                practices to stay abreast of the latest innovations. I have a
                strong understanding of various programming languages,
                frameworks and architectural concepts that allow me to create
                efficient and scalable software.
              </p>
            </div>
          </div>
        </li>
        <li class="ac about-me-item about-item">
          <div class="ac-trigger about-btn about-btn-wrapper">
            <h2 class="ac-header about-header">Role</h2>
            <button type="button" class="about-btn-open">
              <svg class="content-arrow-icon">
                <use href="/img/sprite.svg#icon-arrow-bottom"></use>
              </svg>
            </button>
          </div>
          <div class="ac-panel about-panel">
            <div class="content-item-copy">
              <p class="content-item-text">Frontend development</p>
              <p class="content-item-text">HeadlessCMS, Wordpress</p>
            </div>
          </div>
        </li>
        <li class="ac about-me-item about-item">
          <div class="ac-trigger about-btn about-btn-wrapper">
            <h2 class="ac-header about-header">Education</h2>
            <button type="button" class="about-btn-open">
              <svg class="content-arrow-icon">
                <use href="/img/sprite.svg#icon-arrow-bottom"></use>
              </svg>
            </button>
          </div>
          <div class="ac-panel about-panel">
            <div class="content-item-copy">
              <p class="content-item-text">
                2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
                York
              </p>
              <p class="content-item-text">
                2019 - 2020 / Advanced Web Development Certificate, GoIT IT
                School, New York
              </p>
              <p class="content-item-text">
                2020 - 2022 / Advanced Blender Animation Techniques, Udemy
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="about-skills">
      <div class="swiper swiperr swiper-about-skills">
        <ul class="swiper-wrapper skills-list">
          <li class="swiper-slide skills-item">
            <p class="skills-text">HTML/CSS</p>
          </li>
          <li class="swiper-slide skills-item">
            <p class="skills-text">JavaScript</p>
          </li>
          <li class="swiper-slide skills-item">
            <p class="skills-text">React</p>
          </li>
          <li class="swiper-slide skills-item">
            <p class="skills-text">Node.js</p>
          </li>
          <li class="swiper-slide skills-item">
            <p class="skills-text">React Native</p>
          </li>
          <li class="swiper-slide skills-item">
            <p class="skills-text">Soft skills</p>
          </li>
          <li class="swiper-slide skills-item">
            <p class="skills-text">Git</p>
          </li>
        </ul>
      </div>
      <button type="button" class="skills-arrow-next">
        <svg class="skills-arrow-icon">
          <use href="/img/sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
