<section id="about-me">
  <div class="container">
    <h2 class="visually-hidden">About Jefferson</h2>

    <div class="about-wrapper">
      <div class="about-desc">
        <div class="about-sloganbox">
          <p class="about-slogan">
            I work with people all over the world to create impressive and
            <span class="text-red">functional</span>
            <span class="text-gray">websites</span> that reflect each client's
            unique personality.
          </p>
        </div>
        <picture>
          <source
            srcset="
              /img/about-me/about-me-mob.webp    1x,
              /img/about-me/about-me-mob@2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              /img/about-me/about-me-tab.webp    1x,
              /img/about-me/about-me-tab@2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/about-me/about-me-desc.webp    1x,
              /img/about-me/about-me-desc@2x.webp 2x
            "
            media="(min-width: 1440px)"
          />
          <img
            src="/img/about-me/about-me-desc.webp"
            alt="A young man with a beard and turtleneck is sitting at a desk, using a mouse with a laptop."
            width="704"
            class="about-me-image"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
</section>