<section class="cover-cont">
  <h2 class="visually-hidden">Covers</h2>
  <div class="cover-wrapper">
    <div class="sub-wrapper first-wrap">
      <ul class="cover-list">
        <li class="cover-items">
          <picture>
            <source
              srcset="/img/covers/5-desk.webp 1x, /img/covers/5-desk-2x.webp 2x"
              media="(min-width: 1440px)"
            />
            <source
              srcset="/img/covers/5-tab.webp 1x, /img/covers/5-tab-2x.webp 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="/img/covers/5-mob.webp 1x, /img/covers/5-mob-2x.webp 2x"
              media="(max-width: 768px)"
            />
            <img
              class="cover-img"
              src="/img/covers/5-desk.webp"
              alt="man and woman smiling making project"
              width="544"
            />
          </picture>
        </li>
        <li class="cover-items">
          <picture>
            <source
              srcset="/img/covers/6-desk.webp 1x, /img/covers/6-desk-2x.webp 2x"
              media="(min-width: 1440px)"
            />
            <source
              srcset="/img/covers/6-tab.webp 1x, /img/covers/6-tab-2x.webp 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="/img/covers/6-mob.webp 1x, /img/covers/6-mob-2x.webp 2x"
              media="(max-width: 768px)"
            />
            <img
              class="cover-img"
              src="/img/covers/6-desk.webp"
              alt="beautiful female face with  makeup"
              width="544"
            />
          </picture>
        </li>
        <li class="cover-items">
          <picture>
            <source
              srcset="/img/covers/7-desk.webp 1x, /img/covers/7-desk-2x.webp 2x"
              media="(min-width: 1440px)"
            />
            <source
              srcset="/img/covers/7-tab.webp 1x, /img/covers/7-tab-2x.webp 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="/img/covers/7-mob.webp 1x, /img/covers/7-mob-2x.webp 2x"
              media="(max-width: 768px)"
            />
            <img
              class="cover-img"
              src="/img/covers/7-desk.webp"
              alt="woman engaged with dumbbels"
              width="544"
            />
          </picture>
        </li>
      </ul>
    </div>

    <div class="sub-wrapper second-wrap">
      <ul class="cover-list">
        <li class="cover-items">
          <picture>
            <source
              srcset="/img/covers/1-desk.webp 1x, /img/covers/1-desk-2x.webp 2x"
              media="(min-width: 1440px)"
            />
            <source
              srcset="/img/covers/1-tab.webp 1x, /img/covers/1-tab-2x.webp 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="/img/covers/1-mob.webp 1x, /img/covers/1-mob-2x.webp 2x"
              media="(max-width: 768px)"
            />
            <img
              class="cover-img"
              src="/img/covers/1-desk.webp"
              alt="woman doing sports opposite banner"
              width="544"
            />
          </picture>
        </li>
        <li class="cover-items">
          <picture>
            <source
              srcset="/img/covers/2-desk.webp 1x, /img/covers/2-desk-2x.webp 2x"
              media="(min-width: 1440px)"
            />
            <source
              srcset="/img/covers/2-tab.webp 1x, /img/covers/2-tab-2x.webp 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="/img/covers/2-mob.webp 1x, /img/covers/2-mob-2x.webp 2x"
              media="(max-width: 768px)"
            />
            <img
              class="cover-img"
              src="/img/covers/2-desk.webp"
              alt="futuristic home"
              width="544"
            />
          </picture>
        </li>
        <li class="cover-items">
          <picture>
            <source
              srcset="/img/covers/3-desk.webp 1x, /img/covers/3-desk-2x.webp 2x"
              media="(min-width: 1440px)"
            />
            <source
              srcset="/img/covers/3-tab.webp 1x, /img/covers/3-tab-2x.webp 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="/img/covers/3-mob.webp 1x, /img/covers/3-mob-2x.webp 2x"
              media="(max-width: 768px)"
            />
            <img
              class="cover-img"
              src="/img/covers/3-desk.webp"
              alt="woman in traditional Ukrainian dress"
              width="544"
            />
          </picture>
        </li>
        <li class="cover-items">
          <picture>
            <source
              srcset="/img/covers/4-desk.webp 1x, /img/covers/4-desk-2x.webp 2x"
              media="(min-width: 1440px)"
            />
            <source
              srcset="/img/covers/4-tab.webp 1x, /img/covers/4-tab-2x.webp 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="/img/covers/4-mob.webp 1x, /img/covers/4-mob-2x.webp 2x"
              media="(max-width: 768px)"
            />
            <img
              class="cover-img"
              src="/img/covers/4-desk.webp"
              alt="organic vegetables"
              width="544"
            />
          </picture>
        </li>
      </ul>
    </div>

    <div class="sub-wrapper third-wrap">
      <ul class="cover-list">
        <li class="cover-items">
          <picture>
            <source
              srcset="/img/covers/8-desk.webp 1x, /img/covers/8-desk-2x.webp 2x"
              media="(min-width: 1440px)"
            />
            <source
              srcset="/img/covers/8-tab.webp 1x, /img/covers/8-tab-2x.webp 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="/img/covers/8-mob.webp 1x, /img/covers/8-mob-2x.webp 2x"
              media="(max-width: 768px)"
            />
            <img
              class="cover-img"
              src="/img/covers/8-desk.webp"
              alt="fruit basket"
              width="544"
            />
          </picture>
        </li>
        <li class="cover-items">
          <picture>
            <source
              srcset="/img/covers/9-desk.webp 1x, /img/covers/9-desk-2x.webp 2x"
              media="(min-width: 1440px)"
            />
            <source
              srcset="/img/covers/9-tab.webp 1x, /img/covers/9-tab-2x.webp 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="/img/covers/9-mob.webp 1x, /img/covers/9-mob-2x.webp 2x"
              media="(max-width: 768px)"
            />
            <img
              class="cover-img"
              src="/img/covers/9-desk.webp"
              alt="girl in headphones"
              width="544"
            />
          </picture>
        </li>
        <li class="cover-items">
          <picture>
            <source
              srcset="
                /img/covers/10-desk.webp    1x,
                /img/covers/10-desk-2x.webp 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="/img/covers/10-tab.webp 1x, /img/covers/10-tab-2x.webp 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="/img/covers/10-mob.webp 1x, /img/covers/10-mob-2x.webp 2x"
              media="(max-width: 768px)"
            />
            <img
              class="cover-img"
              src="/img/covers/10-desk.webp"
              alt="web interface with the message on a dark background"
              width="544"
            />
          </picture>
        </li>
      </ul>
    </div>

    <div class="sub-wrapper fourth-wrap">
      <ul class="cover-list">
        <li class="cover-items">
          <picture>
            <source
              srcset="/img/covers/4-desk.webp 1x, /img/covers/4-desk-2x.webp 2x"
              media="(min-width: 1440px)"
            />
            <source
              srcset="/img/covers/4-tab.webp 1x, /img/covers/4-tab-2x.webp 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="/img/covers/4-mob.webp 1x, /img/covers/4-mob-2x.webp 2x"
              media="(max-width: 768px)"
            />
            <img
              class="cover-img"
              src="/img/covers/4-desk.webp"
              alt="organic vegetables"
              width="544"
            />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
