<section>
  <div class="container">
    <h2 class="project-title">Projects</h2>

    <!-- Slider main container -->
    <div class="swiper-project">
      <!-- Additional required wrapper -->
      <div class="swiper swiper-project-list">
        <ul class="swiper-wrapper swiper-wrapper-list">
          <!-- Slides -->
          <li class="swiper-slide swiper-slide-item">
            <ul class="swiper-slide-project">
              <li class="swiper-slide-project-describe">
                <ul class="swiper-slide-project-describe-skills-list">
                  <li class="swiper-slide-project-describe-skills-item">
                    <span> #react</span>
                  </li>
                  <li class="swiper-slide-project-describe-skills-item">
                    <span>#js</span>
                  </li>
                  <li class="swiper-slide-project-describe-skills-item">
                    <span> #node js</span>
                  </li>
                  <li class="swiper-slide-project-describe-skills-item">
                    <span>#git</span>
                  </li>
                </ul>
                <h3 class="swiper-slide-project-describe-subtitle">
                  Programming Across Borders: Ideas, Technologies, Innovations
                </h3>
                <a
                  href="https://github.com/maryna-bobryk/team-project-portfolio-website.git"
                  target="_blank"
                  class="swiper-slide-project-btn"
                  rel="noopener noreferrer"
                  >See project</a
                >
              </li>
              <li class="swiper-slide-project-img">
                <picture class="swiper-slide-project-picture">
                  <source
                    srcset="
                      /img/projects/project-1-desc.webp    1x,
                      /img/projects/project-1-desc@2x.webp 2x
                    "
                    media="(min-width: 1440px)"
                  />
                  <source
                    srcset="
                      /img/projects/project-1-tab.webp    1x,
                      /img/projects/project-1-tab@2x.webp 2x
                    "
                    media="(min-width: 768px)"
                  />
                  <source
                    srcset="
                      /img/projects/project-1-mob.webp    1x,
                      /img/projects/project-1-mob@2x.webp 2x
                    "
                    media="(max-width: 767px)"
                  />
                  <img
                    src="/img/projects/project-1-desc.webp"
                    alt="projects#1"
                    width="614"
                  />
                </picture>
              </li>
            </ul>
          </li>
          <li class="swiper-slide swiper-slide-item">
            <ul class="swiper-slide-project">
              <li class="swiper-slide-project-describe">
                <ul class="swiper-slide-project-describe-skills-list">
                  <li class="swiper-slide-project-describe-skills-item">
                    <span> #react</span>
                  </li>
                  <li class="swiper-slide-project-describe-skills-item">
                    <span>#js</span>
                  </li>
                  <li class="swiper-slide-project-describe-skills-item">
                    <span> #node js</span>
                  </li>
                  <li class="swiper-slide-project-describe-skills-item">
                    <span>#git</span>
                  </li>
                </ul>
                <h3 class="swiper-slide-project-describe-subtitle">
                  Programming Across Borders: Ideas, Technologies, Innovations
                </h3>
                <a
                  href="https://github.com/maryna-bobryk/team-project-portfolio-website.git"
                  target="_blank"
                  class="swiper-slide-project-btn"
                  rel="noopener noreferrer"
                  >See project</a
                >
              </li>
              <li class="swiper-slide-project-img">
                <picture class="swiper-slide-project-picture">
                  <source
                    srcset="
                      /img/projects/project-2-desc.webp    1x,
                      /img/projects/project-2-desc@2x.webp 2x
                    "
                    media="(min-width: 1440px)"
                  />
                  <source
                    srcset="
                      /img/projects/project-2-tab.webp    1x,
                      /img/projects/project-2-tab@2x.webp 2x
                    "
                    media="(min-width: 768px)"
                  />
                  <source
                    srcset="
                      /img/projects/project-2-mob.webp    1x,
                      /img/projects/project-2-mob@2x.webp 2x
                    "
                    media="(max-width: 767px)"
                  />
                  <img
                    src="/img/projects/project-2-desc.webp"
                    alt="projects#2"
                    width="614"
                  />
                </picture>
              </li>
            </ul>
          </li>
          <li class="swiper-slide swiper-slide-item">
            <ul class="swiper-slide-project">
              <li class="swiper-slide-project-describe">
                <ul class="swiper-slide-project-describe-skills-list">
                  <li class="swiper-slide-project-describe-skills-item">
                    <span> #react</span>
                  </li>
                  <li class="swiper-slide-project-describe-skills-item">
                    <span>#js</span>
                  </li>
                  <li class="swiper-slide-project-describe-skills-item">
                    <span> #node js</span>
                  </li>
                  <li class="swiper-slide-project-describe-skills-item">
                    <span>#git</span>
                  </li>
                </ul>
                <h3 class="swiper-slide-project-describe-subtitle">
                  Programming Across Borders: Ideas, Technologies, Innovations
                </h3>
                <a
                  href="https://github.com/maryna-bobryk/team-project-portfolio-website.git"
                  target="_blank"
                  class="swiper-slide-project-btn"
                  rel="noopener noreferrer"
                  >See project</a
                >
              </li>
              <li class="swiper-slide-project-img">
                <picture class="swiper-slide-project-picture">
                  <source
                    srcset="
                      /img/projects/project-3-desc.webp    1x,
                      /img/projects/project-3-desc@2x.webp 2x
                    "
                    media="(min-width: 1440px)"
                  />
                  <source
                    srcset="
                      /img/projects/project-3-tab.webp    1x,
                      /img/projects/project-3-tab@2x.webp 2x
                    "
                    media="(min-width: 768px)"
                  />
                  <source
                    srcset="
                      /img/projects/project-3-mob.webp    1x,
                      /img/projects/project-3-mob@2x.webp 2x
                    "
                    media="(max-width: 767px)"
                  />
                  <img
                    src="/img/projects/project-3-desc.webp"
                    alt="projects#3"
                    width="614"
                  />
                </picture>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- If we need navigation buttons -->
      <div class="swiper-project-button">
        <div class="swiper-project-btn-prev">
          <svg class="swiper-project-btn-prev-icon-svg">
            <use href="/img/sprite.svg#icon-arrow-left"></use>
          </svg>
        </div>
        <div class="swiper-project-btn-next">
          <svg class="swiper-project-btn-next-icon-svg">
            <use href="/img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
