<section id="reviews" class="reviews">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>
    <div class="reviews-swiper swiper">
      <ul class="reviews-swiper-wrapper swiper-wrapper" id="reviews-list"></ul>
      <p id="error-message" class="error-message visually-hidden">Not found</p>
      <div class="reviews-buttons-swiper">
        <button
          type="button"
          class="reviews-swiper-button-prev swiper-button-prev"
        >
          <svg class="reviews-swiper-button-icon" width="32" height="32">
            <use href="img/sprite.svg#arrow"></use>
          </svg>
        </button>
        <button
          type="button"
          class="reviews-swiper-button-next swiper-button-next"
        >
          <svg class="reviews-swiper-button-icon" width="32" height="32">
            <use href="img/sprite.svg#arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
