/* ---------------------- ABOUT-WRAPPER ---------------------- */
.about-wrapper {
  margin-bottom: 32px;
}

.about-sloganbox {
  border-radius: 24px;
  width: 100%;
  padding: 32px;
  margin-bottom: 16px;
  min-height: 500px;
  background-color: #242527;
}

.about-slogan {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
}

.about-me picture {
  border-radius: 24px;
  max-width: 100%;
}

.text-red {
  color: #ed3b44;
}

.text-gray {
  color: rgba(250, 250, 250, 0.4);
}

@media only screen and (min-width: 768px) {
  .about-wrapper {
    margin-bottom: 64px;
  }

  .about-sloganbox {
    min-height: 700px;
    padding: 64px;
  }

  .about-slogan {
    font-size: 38px;
  }
}

@media only screen and (min-width: 1440px) {
  .about-wrapper {
    margin-bottom: 96px;
  }

  .about-desc {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
  }

  .about-sloganbox {
    max-width: 680px;
    margin-bottom: 0;
  }

  .about-me-image {
    height: 700px;
    border-radius: 24px;
    object-fit: cover;
  }
}
