/* ------- ABOUT-WRAPPER -------- */
.about-wrapper {
  margin-bottom: 32px;
}

.about-sloganbox {
  border-radius: 24px;
  width: 100%;
  padding: 32px;
  margin-bottom: 16px;
  min-height: 500px;
  background-color: #242527;
}

.about-slogan {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
}

.about-me picture {
  border-radius: 24px;
  max-width: 100%;
}

.text-red {
  color: #ed3b44;
}

.text-gray {
  color: rgba(250, 250, 250, 0.4);
}

@media only screen and (min-width: 768px) {
  .about-wrapper {
    margin-bottom: 64px;
  }

  .about-sloganbox {
    min-height: 700px;
    padding: 64px;
  }

  .about-slogan {
    font-size: 38px;
  }
}

@media only screen and (min-width: 1440px) {
  .about-wrapper {
    margin-bottom: 96px;
  }

  .about-desc {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
  }

  .about-sloganbox {
    max-width: 680px;
    margin-bottom: 0;
  }

  .about-me-image {
    height: 700px;
    border-radius: 24px;
    object-fit: cover;
  }
}

/* ------- ABOUT-SKILS ------ */
.about-content {
  margin-bottom: 32px;
}

.about-btn-open {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: solid 1px;
  border-color: rgba(250, 250, 250, 0.2);
  margin-left: auto;
  background: transparent;
  transition: transform 0.3s ease-in-out;
}

.about-btn-open:hover,
.about-btn:focus {
  border: 1px solid #fafafa;
}

.content-arrow-icon {
  width: 18px;
  height: 18px;
  stroke: #fafafa;
  fill: none;
}

.content-item-desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
}

.content-item-copy {
  display: flex;
  flex-direction: column;
  gap: 10px;
  grid-column: 2;
  padding-top: 12px;
}

.content-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
}

.ac.about-me-item.about-item {
  background-color: #1c1d20;
  border: none;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  padding-bottom: 32px;
  margin-bottom: 20px;
}

.ac-panel.about-panel {
  background-color: #1c1d20;
  border: none;
}

.ac-header.about-header {
  padding: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
}

.ac-trigger.about-btn.about-btn-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.ac-trigger.about-btn.about-btn-wrapper::after {
  content: '';
}

.is-active .about-btn-open {
  transform: rotate(180deg);
}

.content-item-desc:not(:last-child) {
  margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .about-content {
    margin-bottom: 64px;
  }

  .content-item-desc:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media only screen and (min-width: 1440px) {
  .about-content {
    margin-bottom: 96px;
  }

  .ac-panel.about-panel {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* ---------CSS SWIPPER -------- */

.about-skills {
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding-right: 83px;
}

.skills-item {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 130px !important;
  height: 130px !important;
  border-radius: 100% !important;
  border: solid 1px !important;
  border-color: rgba(250, 250, 250, 0.2) !important;
}

.skills-item.swiper-slide-active {
  background-color: #ed3b44;
  border: none;
}

.skills-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  text-align: center;
}

.skills-arrow-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  cursor: pointer;
  background-color: #1c1d20;
  padding: 0;
}

.skills-arrow-icon {
  width: 28px;
  height: 28px;
  fill: none;
  stroke: #3b3b3b;
}

@media only screen and (min-width: 768px) {
  .about-skills {
    padding-right: 104px;
  }
  .skills-item {
    width: 200px !important;
    height: 200px !important;
  }

  .skills-text {
    font-size: 20px;
  }

  .skills-arrow-icon {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (min-width: 1440px) {
  /*--------- SKILLS MEDIA ----- */

  .about-skills {
    padding-right: 112px;
    margin: 0 32px;
  }
}
