html {
  scroll-behavior: smooth;
}

@media (pointer: coarse) {

  a:focus,
  button:focus {
    outline: none;
    box-shadow: none;
  }

  a:active,
  button:active {
    outline: none;
    box-shadow: none;
  }
}

body {
  font-family: 'Inter Tight', sans-serif;
  background-color: #1c1d20;
}

section {
  padding: 32px 0;
}

@media only screen and (min-width: 768px) {
  section {
    padding: 48px 0;
  }
}

@media only screen and (min-width: 1440px) {
  section {
    padding: 82px 0;
  }
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
