/* BENEFITS */

.benefits-head {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}

.benefits-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.benefits-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  list-style: none;
  padding: 0px;
  margin-top: 32 px;
  justify-content: center;
}

.benefits-cards {
  background: #242527;
  max-width: 344px;
  height: 270px;
  border-radius: 20px;
  padding: 24px;
}

.benefits-icon {
  display: flex;
  border-radius: 10px;
  stroke: #fafafa;
  fill: none;
  background: #ed3b44;
  width: 48px;
  height: 48px;
  align-content: center;
  margin-bottom: 64px;
  padding: 12px;
}

.benefits-cards-head {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #fafafa;

  margin-bottom: 8px;
}

.benefits-cards-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  width: 296px;
  display: block;
}
.btn-benefits {
  display: block;
  margin-left: 0;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 18px 35px;
  width: 181px;
  margin-top: 32px;
  width: 187px;
  height: 55px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  background-color: #1c1d20;
  color: #fafafa;
  transition: border 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-benefits:hover,
.btn-benefits:focus {
  border: 1px solid #fafafa;
}

@media screen and (min-width: 768px) {
  .benefits-list {
    max-width: 704px;
  }
  .btn-benefits {
    margin-top: 64px;
  }
}

@media screen and (min-width: 1440px) {
  .container-benefits {
    display: flex;
    flex-direction: row;
  }

  .benefits-head {
    min-width: 696px;
  }

  .benefits-cards {
    /*max-width: 1375px;*/
    width: 322px;
  }
}
