/* ANIMATION */
@keyframes marqueeLine {
  from {
    transform: translateX(-20%);
  }

  to {
    transform: translateX(-140%);
  }
}

/* COVERS */
.cover-cont {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
}

.cover-wrapper {
  width: 100%;
  height: 508px;
  overflow: hidden;
  background-image: url(/img/covers/back-mob.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

@media screen and (min-resolution: 2dppx),
  (min-resolution: 192dpi),
  (-webkit-min-device-pixel-ratio: 2) {
  .cover-wrapper {
    background-image: url(/img/covers/back-mob-2x.png);
  }
}

.sub-wrapper {
  position: absolute;
  transform: rotate(16deg) translateY(-50%);
  width: 100%;
}

.sub-wrapper:nth-child(2) {
  left: -175px;
  top: 150px;
}

.sub-wrapper:nth-child(3) {
  left: -105px;
  top: 370px;
}

.sub-wrapper:nth-child(4) {
  left: -161px;
  top: 555px;
}

.cover-list {
  display: flex;
  gap: 24px;
}

.cover-items {
  flex: 0 0 auto;
}

.cover-img {
  width: auto;
  animation-name: marqueeLine;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@media only screen and (min-width: 768px) {
  .cover-cont {
    max-width: 768px;
    min-width: none;
  }

  .cover-wrapper {
    height: 960px;
    background-image: url(/img/covers/back-tab.png);
  }

  @media screen and (min-resolution: 2dppx),
    (min-resolution: 192dpi),
    (-webkit-min-device-pixel-ratio: 2) {
    .cover-wrapper {
      background-image: url(/img/covers/back-tab-2x.png);
    }
  }

  .sub-wrapper:nth-child(2) {
    left: -384px;
    top: 270px;
  }

  .sub-wrapper:nth-child(3) {
    left: -105px;
    top: 730px;
  }

  .sub-wrapper:nth-child(4) {
    left: -161px;
    top: 1100px;
  }

  .cover-list {
    gap: 48px;
  }
}

@media only screen and (min-width: 1440px) {
  .cover-cont {
    max-width: 1440px;
  }

  .cover-wrapper {
    background-image: url(/img/covers/back-desk.png);
  }

  @media screen and (min-resolution: 2dppx),
    (min-resolution: 2dpi),
    (-webkit-min-device-pixel-ratio: 2) {
    .cover-wrapper {
      background-image: url(/img/covers/back-desk-2x.png);
    }
  }

  .sub-wrapper:first-child {
    left: 347px;
    top: 216px;
  }

  .sub-wrapper:nth-child(2) {
    left: -47px;
    top: 476px;
  }

  .sub-wrapper:nth-child(3) {
    left: 86px;
    top: 885px;
  }

  .sub-wrapper:nth-child(4) {
    left: -21px;
    top: 1230px;
  }
}
