/* FAQ */

.faq {
  margin: 0px;
}

.faq-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-align: left;
  color: rgba(250, 250, 250, 0.4);
  padding-bottom: 32px;
  padding-right: 59px;
}

.faq-list {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid rgba(250, 250, 250, 0.2);
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}

.faq-item {
  margin-bottom: 10px;
}

.faq-question {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 16px 0;
}

.faq-answer {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  margin-bottom: 20px;
  display: none;
}

.faq-question svg {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  padding: 7px;
  width: 34px;
  height: 34px;
}

.faq-item.open .faq-answer {
  display: block;
}

.faq-item.open .faq-question svg {
  transform: rotate(180deg);
}

.faq-separator {
  border: 1px solid rgba(250, 250, 250, 0.2);
  display: block;
  width: 100%;
  height: 1px;
}

@media only screen and (min-width: 768px) {
  .faq-title {
    padding-bottom: 32px;
    padding-right: 420px;
  }

  .faq-question {
    padding: 32px 0 26px;
  }

  .faq-answer {
    margin-bottom: 24px;
  }

  .faq-question svg {
    width: 40px;
    height: 40px;
    padding: 10px;
  }
}

@media only screen and (min-width: 1440px) {
  .faq-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    justify-content: space-between;
  }

  .faq-column {
    display: flex;
    flex-direction: column;
    flex: 1 1 48%;

    position: relative;
  }

  .faq-column:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: rgba(250, 250, 250, 0.2);
  }

  .faq-item {
    min-height: 180px;
    display: flex;
    flex-direction: column;
  }
  .faq-item.right {
    padding-left: 32px;
  }

  .faq-item.left {
    padding-right: 32px;
  }

  .faq-question {
    font-size: 24px;
    padding: 20px 0 16px;
  }

  .faq-answer {
    font-size: 16px;
    margin-bottom: 0px;
    color: rgba(250, 250, 250, 0.6);
  }

  .faq-question svg {
    width: 40px;
    height: 40px;
    padding: 10px;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 100px;
  }

  .faq-separator {
    margin-top: 26px;
  }

  .faq-separator.last-separator {
    display: none;
  }
}
