.faq {
  margin: 0px;
}

.faq-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-align: left;
  color: rgba(250, 250, 250, 0.4);
  padding-bottom: 32px;
  padding-right: 59px;
}

.faq-container {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ac#faq-item {
  margin-bottom: 20px;
  background-color: #1c1d20;
  border: none;
  border-top: 1px solid rgba(250, 250, 250, 0.2);

  padding-top: 20px;
}
.ac#faq-item:last-child {
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  padding-bottom: 20px;
}

.ac-header#faq-header {
  padding: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #fafafa;
}

.ac-trigger#faq-btn {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.ac-trigger#faq-btn::after {
  content: '';
}

.faq-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: solid 1px;
  border-color: rgba(250, 250, 250, 0.2);
  margin-left: auto;
  background: transparent;
  transition: transform 0.3s ease-in-out;
  flex-shrink: 0;
}

#btn-open:hover,
#btn-open:focus {
  border: 1px solid #fafafa;
}

.is-active .faq-btn {
  transform: rotate(180deg);
}

.ac-panel#faq-panel {
  background-color: #1c1d20;
  border: none;
}

.faq-answer {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  padding-top: 16px;
}

.faq-arrow-icon {
  width: 18px;
  height: 18px;
  stroke: #fafafa;
  fill: none;
}

.faq-separator {
  border: 1px solid rgba(250, 250, 250, 0.2);
  display: block;
  width: 100%;
  height: 1px;
}

@media only screen and (min-width: 768px) {
  .faq-title {
    padding-bottom: 32px;
  }

  .faq-btn {
    width: 40px;
    height: 40px;
    padding: 10px;
  }

  .ac#faq-item {
    margin-bottom: 24px;
    margin-top: 32px;
  }

  .faq-answer {
    padding-top: 26px;
    max-width: 656px;
  }

  .ac#faq-item:last-child {
    padding-bottom: 24px;
  }
  .ac-header#faq-header {
    max-width: 550px;
  }
}

@media only screen and (min-width: 1440px) {
  .faq-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 0px;
    border-top: 1px solid rgba(250, 250, 250, 0.2);
  }

  .faq-item:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }

  .faq-item:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
  }

  .faq-item:nth-child(3) {
    grid-column: 1;
    grid-row: 3;
  }

  .faq-item:nth-child(4) {
    grid-column: 2;
    grid-row: 1;
  }

  .faq-item:nth-child(5) {
    grid-column: 2;
    grid-row: 2;
  }

  .faq-item:nth-child(6) {
    grid-column: 2;
    grid-row: 3;
  }

  .ac#faq-item {
    border-top: none;
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
    margin: 0;
    padding-top: 32px;
    padding-bottom: 26px;
  }
  .ac#faq-item.left {
    border-right: 1px solid rgba(250, 250, 250, 0.2);
    padding-right: 32px;
  }

  .ac#faq-item.right {
    padding-left: 32px;
  }
  .ac-header#faq-header {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.02em;
  }
}
