/* HERO */
/* Standard Styles */
.hero {
  padding-top: 0;
  display: flex;
  justify-content: center;
}
.container-hero {
  min-width: 320px;
  max-width: 375px;
  display: flex;
  flex-direction: column;
  gap: 212px;
  align-items: center;
  padding-top: 281px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
  background-image: url('/img/hero/hero-1-mob.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  margin: 0 auto;
  /* margin-top: 281px; */
  font-weight: 500;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
}

.hero-list {
  display: flex;
  gap: 4px;
}

.hero-item {
  width: 37px;
  height: 37px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-item.mail {
  width: 178px;
  border-radius: 60px;
}

.hero-item:hover,
.hero-item:focus {
  border: 1px solid #fafafa;
}

.hero-link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Retina Display Optimierung */
@media screen and (min-resolution: 192dpi),
  (min-resolution: 2dppx),
  (-webkit-min-device-pixel-ratio: 2) {
  .container-hero {
    background-image: url('/img/hero/hero-1-mob@2x.webp');
  }
}

/* =============== TABLET =============== */
@media only screen and (min-width: 768px) {
  .container-hero {
    min-width: 768px;
    gap: 187px;
    padding-top: 300px;
    padding-left: 32px;
    padding-right: 32px;
    background-image: url('/img/hero/hero-1-tab.webp');
  }

  .hero-title {
    font-size: 90px;
  }

  .hero-list {
    margin-left: auto;
    gap: 8px;
  }

  .hero-item {
    width: 55px;
    height: 55px;
  }

  .hero-item.mail {
    width: 223px;
  }

  .hero-link {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) and (min-resolution: 192dpi),
  (min-width: 768px) and (min-resolution: 2dppx),
  (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
  .container-hero {
    background-image: url('/img/hero/hero-1-tab@2x.webp');
  }
}

/* =============== DESKTOP =============== */
@media only screen and (min-width: 1440px) {
  .container-hero {
    min-width: 1440px;
    gap: 243px;
    background-image: url('/img/hero/hero-1-desc.webp');
  }

  .hero-title {
    font-size: 90px;
  }
}

@media screen and (min-width: 1440px) and (min-resolution: 192dpi),
  (min-width: 1440px) and (min-resolution: 2dppx),
  (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2) {
  .container-hero {
    background-image: url('/img/hero/hero-1-desc@2x.webp');
  }
}
